@using LinkedDataBrowser.Models.ViewModels;
@{
    ViewBag.Title = "AsQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_DescriptionPartial" />

<h2>Querying</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        @using (Html.BeginForm("QueryResult", "Result", FormMethod.Get, htmlAttributes: new { @class = "form-horizontal" }))
        {
            <partial name="_EndpointDefGraphFormPart" />
            <div class="form-group">
                @Html.Label(nameof(QueryInfo.QueryString), "Query:", htmlAttributes: new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextArea(nameof(QueryInfo.QueryString), "select ?subject ?predicate ?object \n  where { \n  ?subject ?predicate ?object \n  FILTER(?subject = <http://dbpedia.org/resource/Prague>) \n}", htmlAttributes: new { @class = "form-control noresize", rows = 12, /*cols = 60,*/ autofocus = true, required = true })
                </div>
            </div>
            <partial name="_TimeoutResultsFormPart" />
            <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                    <input type="submit" value="Run" class="btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>


