@model string
@{
    ViewBag.Title = "QueryResultError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>An error occured:</h3>

<div class="row">
    <div class="col-md-12 error-message">
        @if (Model != null)
        {
            <p class="lead red-text">@Model</p>
        }
        else
        {
            <p class="lead">It seems there is nothing.</p>
        }
    </div>
</div>

@*
<div class="row">
    <div class="col-md-12 error-message">
        @if (ViewData.TryGetValue("errorMessage", out object errorMessage))
        {
            <h4></h4>
            <p class="lead red-text">@ViewData["errorMessage"]</p>
        }
        else {
            <span>It seems there is nothing.</span>
        }
    </div>
</div>*@
